body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}
.wrapper
{
	width: 100%;
}
.header
{
	width: 100%;
	padding: 15px 0;
	background-color: #2F5234;
}
.logo
{
	width: 800px;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 5px 5px 5px black;
	
}
.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: #365769;
	text-align: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.categories
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0px;
}
.socials
{
	width: 100%;
	text-align: center;
	background-color: #111111;
}
.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.fb
{
	width: 250px;
	height: 155px;
	float: left;
}
.fb:hover
{
	background-color: #4668b3;
}
.yt
{
	width: 250px;
	height: 155px;
	float: left;
}
.yt:hover
{
	background-color: #d94348;
}
.tw
{
	width: 250px;
	height: 155px;
	float: left;
}
.tw:hover
{
	background-color: #3095d3;
}
.gplus
{
	width: 250px;
	height: 155px;
	float: left;
}
.gplus:hover
{
	background-color: #d95333;
}
.tilelink
{
	color:#ffffff;
    text-decoration: none;
}
.footer
{
	text-align: center;
	background-color: #6e663c;
	padding: 10px;
	font-size: 15px;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color:#ffffff;
    text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #000000;
}
ol > li:first-child
{
	border-left: 1px dashed #000000;
}
ol > li:hover
{
	background-color: #476879;
}
ol > li:hover > a
{
	color: #143547;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol > li:hover > ul
{
	display: block;
}
ol > li > ul > li
{
	background-color: #476879;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #000000;
}
ol > li > ul > li:hover
{
	background-color: #365769;
}
ol > li > ul > li:hover > a
{
	color: #143547;
}
h1
{
	font-size: 44px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}
.author
{
	display: inline-block;
	text-align: center;

}
figure
{
	overflow: hidden;
}
figure img
{
	transition: all 0.7s ease-in-out;
}
figure:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}
figure
{
	margin: 8px;
	padding: 0px;
}
figcaption
{
	margin-top: 8px;
	padding: 0px;
	font-size: 18px;
}
.entries
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}
#newest
{
	background-color: #191d21;
}
.entry
{
	background-color: #222930;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}
.entryimg
{
	display: inline-block;
	margin-left: 30px;
	width: 110px;
}
.entryimg img
{
	width: 90px;
	height: 90px;
}
.entrytxt
{
	display: inline-block;
	width: 750px;
	font-size: 15px;
}
.contact
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.contact p
{
	margin-bottom: 50px;
}
.bluebutton
{
	background-color: #1c74b2;
	padding: 15px;
	color: #efefef;
	font-size: 19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
}
.bluebutton:hover
{
	background-color: #196499;
}